### Q1: ARRAY PRINTING

In [1]:
a = [99.48,34,57,65,23,54,22,43,21]
b = [99,43,34,57,65,23,54,22,43,21]
c = ['abdul','owais','asad','talal','talha','ali','azhar','sami','bakr','umer']

print(a)
print(b)
print(c)

[99.48, 34, 57, 65, 23, 54, 22, 43, 21]
[99, 43, 34, 57, 65, 23, 54, 22, 43, 21]
['abdul', 'owais', 'asad', 'talal', 'talha', 'ali', 'azhar', 'sami', 'bakr', 'umer']

### Q2: ASSIGNING VALUE FROM ONE ARRAY TO OTHER

In [2]:
new = []
new = a
new

[99.48, 34, 57, 65, 23, 54, 22, 43, 21]

### Q3: REVERSE OF ARRAY

In [3]:
arr = [1,22,31,4,55]
arr.reverse()
arr

[55, 4, 31, 22, 1]

### Q4: MODE OF ARRAY

In [4]:
arr1 = [1,2,1,4,3,2,2,3,4,5]
import statistics
mode = statistics.mode(arr1)
mode

2

### Q5: RETURN THE MIN VALUE OF ARRAY

In [1]:
a1 = [23,4,11,8,0,43,6,2]
min(a1)

0

### Q6: RETURN THE MAX VALUE OF ARRAY

In [2]:
a1 = [23,4,11,8,0,43,6,2]
max(a1)

43

### Q7: LENGTH OF ARRAY

In [4]:
# a1 = [23,4,11,8,0,43,6,2]
length = len(a1)
length

8

### Q8: INSERT ELEMENT IN START

In [8]:
# a1 = [23,4,11,8,0,43,6,2]
a1.insert(0,5)
a1

[5, 23, 4, 11, 4, 8, 0, 43, 6, 2]

### Q9: INSERT ELEMENT AT END

In [10]:
a1 = [23,4,11,8,0,43,6,2]
a1.insert(8,5)
a1

[23, 4, 11, 8, 0, 43, 6, 2, 5]

### Q10: INSERT ELEMENT IN MIDDLE

In [57]:
a1 = [23,4,11,8,0,43,6,2]
mid = len(a1)/2
a1.insert(int(mid),5)
a1

[23, 4, 11, 8, 5, 0, 43, 6, 2]

### Q11: RETURN THE MIDDLE ELEMENT OF ARRAY

In [27]:
a2 = [1,2,3,4,5,6,7,8,9]
def middle(temp):
    middle = float(len(temp)/2)
    if middle%2!=0:
        return temp[int(middle)]
    else:
        return (temp[int(middle)],temp[int(middle-1)])
middle(a2)

5

### Q12: RETURNING RANDOM INDEX OF ARRAY

In [37]:
a2 = [1,2,3,4,5,6,7,8,9]
import random as rd
rand = rd.choice(a2)
rand

9

### Q13: DELETING ELEMENT FROM START OF ARRAY

In [41]:
a2 = [1,2,3,4,5,6,7,8,9]
del a2[0]
a2

[2, 3, 4, 5, 6, 7, 8, 9]

### Q14: DELETING ELEMENT FROM LAST OF ARRAY

In [44]:
a2 = [1,2,3,4,5,6,7,8,9]
del a2[len(a2)-1]
a2

[1, 2, 3, 4, 5, 6, 7, 8]

### Q15: DELETE THE ELEMENT FROM THE MIDDLE OF ARRAY

In [49]:
a2 = [1,2,3,4,5,6,7,8,9]
def middle(temp):
    middle = float(len(temp)/2)
    if middle%2!=0:
        return temp[int(middle)]
    else:
        return (temp[int(middle)],temp[int(middle-1)])
mid = middle(a2)
del a2[mid-1]
a2

[1, 2, 3, 4, 6, 7, 8, 9]

### Q16: RETURN THE SUM OF THE ARRAY

In [50]:
a2 = [1,2,3,4,5,6,7,8,9]
sum(a2)

45

### Q17: RETURN THE AVERAGE OF ARRAY

In [51]:
arr = [99,48,34,57,65,23,54,22,43,21]
import statistics as sts
sts.mean(arr)

46.6

### Q18: RETURN THE ELEMENTS OF ARRAY LESS THAN AVERAGE

In [70]:
arr = [99,48,34,57,65,23,54,22,43,21]
import numpy as np

avg = np.average(arr)
avg = int(avg)
for x in range(len(arr)):
    if arr[x] > avg:
        print(arr[x])

99
48
57
65
54

### Q19: GETTING EVEN NUMBERS FROM ARRAY

In [71]:
arr = [1,2,3,4,5,6,7,8,9]
for x in range(len(arr)):
    if arr[x]%2==0:
        print(arr[x])

2
4
6
8

sx